@import '../variables';
@import '../mixins';

.#{$prefix}-ui-back-chevron-button {
  @extend %ui-button;

  background-image: url('../../assets/skin-modern/images/back-chevron.svg');
  background-position: left center;
  width: 100%;

  &:hover {
    @include svg-icon-shadow;
  }
}
