@import '../variables';
@import '../mixins';

.#{$prefix}-ui-fastforward-button {
  @extend %ui-button;
  @include hidden-animated-focusable;
  
  background-image: url('../../assets/skin-modern/images/fastforward.svg');
  height: 4em;
  width: 4em;
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center;
  

  &:hover {
    @include svg-icon-shadow;
  }
}
