@import '../variables';
@import '../mixins';

.#{$prefix}-ui-rewind-button {
  @extend %ui-button;
  @include hidden-animated-focusable;

  align-self: center;
  background-image: url('../../assets/skin-modern/images/rewind.svg');
  height: 4em;
  width: 4em;
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center;
  

  &:hover {
    @include svg-icon-shadow;
  }
}
