@import "../variables";
@import "../mixins";

.#{$prefix}-ui-rewindplayfastforward-overlay {
  @extend %ui-container;
  @include hidden-animated($animation-duration * 2);
  @include layout-cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  flex: 1;

  // .#{$prefix}-ui-hugeplaybacktogglebutton {
  // }

  &.#{$prefix}-hidden {
    .#{$prefix}-ui-rewindplayfastforward-overlay {
      display: none;
    }
  }
}
